<footer class="bk-footer">
	<div class="wrapper clearfix">
		<div class="responsivecolumns columns-two-50-50">
			<div class="column columns-two-left">
				{{widget('profile', 'footercolumn1profileemail', { 'profileType':'email', 'email':'profile'})|raw}}
			</div>
			<div class="column columns-two-right">
				{{widget('profile', 'footercolumn2profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
			</div>
		</div>
	</div>
</footer>
